<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="A1Antrag.Properties.Settings.ConnectionString" connectionString="User Id=sivas;Password=sivas4;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.10.36)(PORT=1521))(CONNECT_DATA=(SID=LINUX)));Persist Security Info=True" providerName="Oracle.ManagedDataAccess.Client"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
