<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="A1Antrag.Properties.Settings.ConnectionString" connectionString="User Id=sivas;Password=sivas4;Server=10.10.10.36;Home=sl;Direct=True;Sid=LINUX;Persist Security Info=True" providerName="Devart.Data.Oracle"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
